
@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');




body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-size: 1000px;
  background-image: url("./image/white-paper-texture.jpg");
  background-position: center center;
}

.paper {
  background-image: url("./image/paper-background.jpeg");
  background-size: 500px;
  background-position: center center;
  padding: 20px 100px;
/*  min-width: 800px; */
  
  transform: rotateZ(-5deg);
  box-shadow: 1px 15px 20px 0px rgba(0,0,0,0.5);
  
  position: absolute;
}

.paper.heart {
  position: relative;
  width: 200px;
  height: 200px;
  padding: 0;
  border-radius: 50%;
}

.paper.image {
  padding: 10px;
}
.paper.image p {
  font-size: 30px;
}

img {
  max-height: 200px;
  width: 100%;
  user-select: none;
}

.paper.heart::after {
  content: "";
  background-image: url('./image/heart.jpeg');
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: 150px;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.6;
}

p {
  font-family: 'Zeyada';
  font-size: 5vh;
  color: rgb(0,0,100);
  opacity: 0.75;
  user-select: none;
  /* font-weight: 500; */
  filter: drop-shadow(2px 1.5px 1px rgba(0,0,105,0.9));
}

.p1 {
  font-size: 50px;
}
.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: pink;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
.click:hover .tooltiptext {
  visibility: visible;
}